<%- include('ek/header', {bot, user, path}) %>
<div class="container">
	<div class="jumbotron">
		<div align="center">
    <img src="https://i.postimg.cc/LXV4Ktc6/warning-png-1479077.png" >
      <h3 style="color:#fff">YOU ALREADY VOTED THAT BOT <br>YOU CAN VOTE FOR THE BOT EVERY 12 HOURS  <br> <b><a style"text-decoration:none;" href="/">An</a></b> </h3>
    </div>
</div>
</div></div></div>
<% include ./ek/footer %>