<%- include('ek/header', {bot, user, path}) %>
<div class="container">
	<div class="jumbotron">
		<div align="center">
      <form method="POST">
      <select id="mesaj-1" name="mesaj-1">
        <option selected disabled>Select a reason.</option>
        <option value="Bot doesn't working">Bot doesn't working</option>
        <option value="Bot have the stolen codes">Bot have the stolen codes</option>
        <option value="Bot contains fully NSFW.">Bot contains fully NSFW</option>
      </select>
      <br>
      <h6 style="color:#fff">Others</h6>
      <input type="text" id="mesaj-2" name="mesaj-2" placeholder="Enter the reason.">
   
        <button class="btn btn-danger" type="sumbit">REPORT</button>
      </form>
    </div>
</div>
</div>
<% include ./ek/footer %>