<%- include('ek/header', {bot, user, path}) %>
<div class="container">
<style> h3 { color:#fff; } p { color:lightgrey; } </style>
	<div class="jumbotron">
		<div align="center">
     <img src='https://i.postimg.cc/t7JQLR4b/xir-sertifika100.png' width="90" height="90" border='0' alt='xir-sertifika100'/>
		   <h3 style="color:#7289DA">How to obtain certificate ?</h3>
		   <p style="color:lightgrey;font-size:15px;">It makes your bot certificate and you to take part in our Discord server and site.  Certified bots appear on the homepage, and your bot will be given the <b> Certificate </b> icon.
      <br><h5 style="color:#7289DA">Certificate Advantages</h5>
		 <p style="color:lightgrey;font-size:15px;">- You will get certified role in discord server </p>
		 <p style="color:lightgrey;font-size:15px;">- Certified icon on your bot's profile and Certificate icon on your bot's profile.  </P>
      <br><h5 style="color:#7289DA">Certification Terms</h5>
		 <p style="color:lightgrey;font-size:15px;">
    To recieve certificate your bot must be in <b>100</b> or more then 100 servers.If your bot meet this requirement feel free to contact one of our officials.
		</p>
    
      </div>
    </div>
  </div>
  
<style>
/* Three columns side by side */
.cools {
  margin: auto;
  width: 26%;
  margin-bottom: 12px;
  padding: 0 8px;
}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
  .cools {
    width: 100%;
    display: block;
  }
}

/* Add some shadows to create a card effect */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Some left and right padding inside the container */
.yetkili-s {
  padding: 0 16px;
}

/* Clear floats */
.yetkili-s::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.iletisim {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.iletisim:hover {
  background-color: #555;
  text-decoration:none;
}
h2 {
font-size:36px;
  }
a:hover {
color:white;
text-decoration:none;
  }
.yetkilir img:hover {
  border-radius: 50%;
  -webkit-transition: -webkit-transform .8s ease-in-out;
          transition:         transform .8s ease-in-out;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  }

</style>