<br>
<div class="footer" style="color:#2C2F33; border-radius:4px"> 
	<div class="footer_container" style="color:#2C2F33">
		<div id="kutu">
			<b>GENERAL</b> 
			<ul>
				<li><a href="/">HOME PAGE</a></li>
				<li><a href="/botlar">BOTS</a></li>
        <li><a href="/hakkimizda">ABOUT US</a></li>
				<li><a href="/sertifika">CERTIFICATE</a></li>    <!--Buraya mesela sayfa ekliyorsun-->
			</ul>
		</div>
    
		<div id="kutu" style="margin-left:150px;">
			<b>CONTACT</b>
			<ul>
				<li><a href="https://discord.gg/SQmfu42"><img src="https://maxcdn.icons8.com/Share/icon/Logos/discord_logo1600.png" height="42" width="42" alt="discord-icon" /></a></li>
			</ul>
    </div>
    <br><br><br><br><br><br><br><br><br><br>
    <h6 style="color:white; align: centre">
      OUR SITE HAS NO PARTNERSHIP WITH THE DISCORD.
    </h6>
	</div>
</div>